* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
  line-height: 30px;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 70px 0;
}

/* HEADER */

.header {
  background-color: #353d41;
  height: 50px;
}

.header .container {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
}

.header__contact i {
  margin-right: 20px;
}

.header__phone {
  display: flex;
  align-items: center;
}

.header__phone h3 {
  display: inline;
  color: white;
  font-size: 1.8rem;
}

/* NAVIGATION */

.nav {
  height: 70px;
}

.nav .container {
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav__logo {
  width: 40%;
  text-align: left;
  line-height: 70px;
}

.nav__logo span {
  color: #8067f8;
  font-size: 4.5rem;
  font-weight: 600;
}

.nav__logo h1 a {
  color: gray;
  font-weight: 500;
  font-size: 3.5rem;
}

.nav__content {
  width: 60%;
  line-height: 70px;
}

.nav__content ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav ul li a {
  color: #353d41;
  font-weight: bold;
  font-size: 1.6rem;
}

.nav ul li select {
  border: none;
  color: #353d41;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}

.nav ul li a:hover, .nav ul li select:hover, .nav ul li.active a {
  color: #8067f8;
}

/* BANNER */

.banner {
  background-image: url(../img/b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  text-align: center;
  color: white;
}

.banner__content h1 {
  font-size: 4.5rem;
  font-weight: 500;
  word-spacing: 10px;
  text-shadow: 1px 1px gray;
  letter-spacing: 5px;
}

.banner__content p {
  margin: 30px 10%;
}

.btn1 {
  border: white solid 1px;
  color: white;
  text-shadow: 1px 0 gray;
  padding: 1rem 3rem;
  background: none;
  font-size: 1.6em;
}

.btn2 {
  padding: 1rem 3rem;
  background-color: #8067f8;
  color: white;
  border: none;
  font-size: 1.6em;
}

/* ABOUT */

.about {
  text-align: center;
}

.about h1 {
  font-weight: 500;
  color: #252525;
}

.about p {
  color: #353d41;
  margin: 20px 0;
}

.about hr {
  margin: 50px auto;
  width: 75%;
  border: 0.5px solid rgba(156, 157, 158, 0.3);
  opacity: 0.5;
}

.about__container {
  display: flex;
  justify-content: space-around;
}

.about__item {
  text-align: center;
  border-right: 1px solid rgba(156, 157, 158, 0.3);
  margin: 10px 0;
}

.about__item:last-child {
  border-right: none;
}

.about__item h3 {
  margin: 20px 0;
}

.about__item p {
  padding: 0 20px;
  margin: 0;
}

.about__item i {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  color: #e87461;
}

/* CONTACT */

.contact {
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact__title {
  width: 75%;
  float: left;
  padding: 10px 0;
}

.contact__button {
  width: 25%;
  float: left;
  padding: 10px 0;
}

.contact h1 {
  color: white;
  font-weight: initial;
  text-align: center;
  word-spacing: 7px;
  margin: 0 10%;
  font-size: 3.5rem;
}

.clear {
  clear: both;
}

/* STATS */

.stats h1 {
  text-align: center;
  font-weight: 500;
  color: #252525;
  margin: 0 150px;
}

.stats p {
  text-align: center;
  color: #353d41;
  margin: 20px 0;
}

.stats__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.stats__item {
  text-align: center;
}

.stats__item h1 {
  margin: 0;
  color: #e87461;
  padding: 30px 0;
  font-weight: bold;
}

.stats__item p {
  margin: 0;
}

/* SERVICES */

.services {
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.services h1 {
  color: white;
  text-align: center;
  font-weight: 500;
}

.services p {
  color: white;
  text-align: center;
  margin: 20px 0;
}

.services__container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.services__item1 {
  background-color: #e87461;
  color: white;
  text-align: center;
  padding: 20px;
}

.services__item2 {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

.services__item1 i, .services__item2 i {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  margin: 20px;
}

.services__item2 i {
  color: #e87461;
}

.services__item2 p {
  color: black;
}

/* OPINION */

.opinion {
  text-align: center;
}

.opinion h1 {
  font-weight: 500;
  color: #252525;
}

.opinion p {
  margin: 20px 0;
  color: #353d41;
}

.opinion__item h3 {
  margin: 20px 0;
}

.opinion__item p {
  margin: 0 20px;
}

.opinion__container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 70px 0;
}

.opinion__item img {
  border: #8067f8 solid 5px;
  border-radius: 50%;
  width: 100px;
  margin: 15px 0;
}

.opinion__icon a {
  margin: 5px;
  font-size: 1.5rem;
  color: #e87461;
  opacity: 0.5;
}

.opinion__icon a.active, .opinion__icon a:hover {
  opacity: 1;
}

/* SUBSCRIBE */

.subscribe {
  background-color: #0b0c11;
}

.subscribe__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subscribe h2 {
  color: #e87461;
  margin-bottom: 40px;
}

.subscribe__newsletter {
  width: 50%;
  margin: 2rem 0;
}

.subscribe__links {
  width: 25%;
  margin: 2rem 0;
}

.subscribe__contact {
  width: 25%;
  margin: 2rem 0;
}

.subscribe__newsletter p {
  color: #9c9d9e;
  margin: 0 10% 30px 0;
}

.subscribe__form {
  border: 1px solid white;
  width: 80%;
}

.subscribe__txtemail {
  margin: 0;
  border: none;
  background-color: unset;
  padding: 1rem;
  width: 80%;
  font-size: 1.6rem;
}

.subscribe__txtemail:focus {
  outline: 0;
}

.subscribe__btnsubmit {
  margin: 0;
  border: none;
  background-color: #8067f8;
  padding: 10px 15px;
  cursor: pointer;
  float: right;
  color: white;
  font-size: 1.5rem;
}

.clear {
  clear: both;
}

.subscribe ul {
  color: white;
  list-style-type: none;
  padding: 0;
}

.subscribe ul li {
  line-height: 30px;
  font-size: 1.6rem;
}

.subscribe__contact ul li {
  color: #9c9d9e;
  display: flex;
  justify-content: left;
  font-size: 1.6rem;
}

.subscribe__contact ul li i {
  color: #e87461;
  margin: 5px 15px 0 0;
}

/* FOOTER */

.footer {
  text-align: center;
  background-color: #252525;
  color: white;
  height: 60px;
  line-height: 60px;
  font-size: 1.5rem;
}

.footer .container {
  padding: 0;
}

/* ARROWUP */

.arrowup {
  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 10px;
}

/* RESPONSIVE  */

@media screen and (max-width:1200px) {}

@media screen and (max-width:992px) {
  html {
    font-size: 8px;
  }
  /* about */
  .about__container {
    flex-wrap: wrap;
  }
  .about__item {
    width: 50%;
    border: none;
  }
  .stats h1 {
    margin: 0 auto;
  }
  /* services */
  .services__container {
    grid-template-columns: 1fr 1fr;
  }
  /* opinion */
  .opinion__container {
    flex-wrap: wrap;
  }
  .opinion__item {
    width: 50%;
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 6px;
  }
  p {
    font-size: 1.8rem;
  }
  /* navigation */
  .nav__logo {
    width: 25%;
  }
  .nav__content {
    width: 75%;
  }
  /* about */
  .about__item {
    width: 100%;
  }
  .stats h1 {
    margin: 0 auto;
  }
  /* services */
  .services__container {
    grid-template-columns: 1fr;
  }
  /* opinion */
  .opinion__container {
    flex-wrap: wrap;
  }
  .opinion__item {
    width: 100%;
  }
  /* subscribe */
  .subscribe__newsletter {
    width: 100%;
  }
  .subscribe__links, .subscribe__contact {
    width: 50%;
  }
}

@media screen and (max-width:576px) {}